<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>frigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-label color="tertiary" id="title">Liste des aliments dans mon frigo</ion-label>
<ion-item>
  <ion-label>Aliment</ion-label><ion-label>Quantité</ion-label>
</ion-item>
<ion-list class="list">
  <ion-item>
    <ion-label>Farine</ion-label><ion-label>300gr</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pâtes</ion-label><ion-label>100gr</ion-label>
  </ion-item>
</ion-list>

</ion-content>
