<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Le frigo des fourmis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="homePage">
  <img id="logo" src="../../assets/logo.png">
  <div id="connexionModule" position="below">
    <ion-input placeholder="Username"></ion-input>
    <ion-input placeholder="Password"></ion-input>
    <ion-button expand="block" routerLink="/menu" color="tertiary">Connexion</ion-button>
  </div>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Copyright: test</ion-title>
  </ion-toolbar>
</ion-footer>
